# licenserecon
#
# This file lists files and directories to be excluded from checking, to avoid
# false positives.
#
# Lines starting with # are treated as comments. Blank lines are ignored.
# Lines starting with minus sign(s) are treated as command line options
#
# File names may include a partial path.
#
# Wildcards '*' are not supported.
#
# For directories identified by trailing slash / the entire contents will be
# (recursively) excluded.

# These files often contain licenses for other files.
about
authors
copying
dep5
license
notice
readme

# False positives
snap/variants/google/snapcraft.yaml
snap/variants/msentraid/snapcraft.yaml
snap/variants/oidc/snapcraft.yaml
vendor_rust/chrono/CITATION.cff
vendor_rust/lazy_static/src/core_lazy.rs
vendor_rust/lazy_static/src/inline_lazy.rs
vendor_rust/lazy_static/src/lib.rs
vendor_rust/pin-project-internal/src/error.rs
vendor_rust/pin-project-internal/src/lib.rs
vendor_rust/pin-project-internal/src/pinned_drop.rs
vendor_rust/pin-project-internal/src/pin_project/args.rs
vendor_rust/pin-project-internal/src/pin_project/attribute.rs
vendor_rust/pin-project-internal/src/pin_project/derive.rs
vendor_rust/pin-project-internal/src/pin_project/mod.rs
vendor_rust/pin-project-internal/src/utils.rs
vendor_rust/rustix-0.38.44/src/backend/linux_raw/vdso.rs
vendor_rust/rustix/src/backend/linux_raw/vdso.rs
vendor_rust/tower-0.4.13/src/load/peak_ewma.rs
vendor_rust/tower/src/load/peak_ewma.rs

# License Aliases
# d/copyright name | licensecheck name
Apache-2           | Apache-2.0
Apache-2 or Expat  | Apache-2.0 or MIT~unspecified
BSD                | BSD-3-clause
BSD-2-clause       | BSD-2-Clause-Views
